body {
  font-family: "Georgia", serif;
  background-color: #fef6e4;
  color: #2e2e2e;
  margin: 0;
  padding: 0rem;
  
}
.landing-page{
  margin: 0;
  padding: 2rem;
}
h1 {
  text-align: center;
  color: #4b2e83;
}


a {
  display: block;
  text-align: center;
  margin-top: 2rem;
  color: #d4af37;
  text-decoration: none;
  font-weight: bold;
  font-family: "Georgia", serif;
  transition: color 0.3s ease, text-shadow 0.3s ease;

  &:hover {
    color: #fff8dc;
    text-shadow: 0 0 5px #d4af37, 0 0 10px #d4af37;
  }
}

li {
  list-style: none;
}
